@import "../../sass/variables";

.projects {
  background-color: $dark-200;

  .container-center {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    flex-wrap: wrap;

    max-width: $max-width-container-center;
  }

  h3 {
    margin-top: 6.25rem;
  }

  section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $fz-20;
    width: 100%;
  }

  .project {
    margin-bottom: 5.625rem;
    .image-project {
      width: 530px;
      height: 250px;
      border-radius: 4px;
      object-fit: fill;

      margin-bottom: $fz-40;
    }

    h4 {
      font-style: normal;
      font-weight: 500;
      font-size: $fz-24;
      line-height: 29px;
      color: $light;

      margin-bottom: $fz-30;
    }

    p {
      font-style: normal;
      font-weight: 300;
      font-size: $fz-16;
      line-height: 26px;
      color: $gray-light;

      margin-bottom: $fz-26;
    }

    h5 {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: $blue;

      margin-bottom: $fz-14;
    }

    .icons-project {
      display: flex;
      gap: 5px;

      margin-bottom: $fz-20;
      img {
        width: auto;
        height: 24px;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 181px;
      height: 45px;

      font-style: normal;
      font-weight: 600;
      font-size: $fz-16;
      line-height: 24px;
      color: $light;
      text-decoration: none;

      border-image: linear-gradient(to left bottom, #10d7e2 40%, #9358f7 90%) 1;
      border-width: 2px;
      border-style: solid;

      transition: all 0.2s;
      &:hover {
        filter: brightness(1.5);
      }
    }
  }
}
