@import "../../sass/variables";
@import "src/sass/mixins.scss";

.experiences {
  width: 100%;
  min-height: 40.563rem;
  background-color: $light;
  padding: 4rem 0;
  .container-center {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
    max-width: $max-width-container-center;
    height: 100%;

    position: relative;
    margin-top: 8rem;
  }

  .title-section {
    font-style: normal;
    font-weight: 600;
    font-size: $fz-24;
    line-height: 29px;
    color: $primary;
    text-transform: uppercase;

    margin-bottom: $fz-26;
  }

  .company-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.063rem;
    height: 3.438rem;

    background: transparent;
    border-block: none;
    border: none;

    font-style: normal;
    font-weight: 500; // Peso médio para melhor visibilidade em botões
    font-size: $fz-18;
    line-height: 1.4;
    color: $text-body; // Bom contraste para navegação

    transition: all 0.3s ease;
    &:hover {
      color: $primary;
    }
  }

  .details {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    pointer-events: none;
    max-width: 700px;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $fz-26;
    }
  }

  // position: relative;
  .container-open {
    border-left: 3px solid $primary;

    .company-title {
      background-color: $border-light;
      color: $primary;
      font-weight: 500;
    }

    .details {
      position: absolute;
      left: 14rem;
      top: 1.875rem;
      transform: translateY(8%);

      opacity: 1;
      visibility: visible;
      max-height: none;
      height: 220px;
      pointer-events: all;

      transition: all 2s;
    }
  }

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: $fz-24;
    line-height: 29px;
    color: $text-primary;
  }

  .time {
    font-style: normal;
    font-weight: 500;
    font-size: $fz-16;
    line-height: 24px;
    color: $text-secondary;
  }

  .company {
    font-style: normal;
    font-weight: 500;
    font-size: $fz-16;
    line-height: 24px;
    color: $primary;

    margin-bottom: $fz-26;
  }

  .description {
    font-style: normal;
    font-weight: 400; // Peso normal para legibilidade
    font-size: $fz-18;
    line-height: 1.75; // Line-height generoso
    color: $text-body; // Cor otimizada para corpo de texto
    text-align: justify;

    margin-bottom: $fz-30;
  }

  .assignments {
    font-style: normal;
    font-weight: 500; // Peso médio para destaque
    font-size: $fz-16;
    line-height: 1.5;
    color: $primary;

    margin-bottom: $fz-22;
  }

  .description-assignments {
    font-style: normal;
    font-weight: 400; // Peso normal para legibilidade
    font-size: $fz-16;
    line-height: 1.75; // Line-height generoso
    color: $text-body; // Cor otimizada para corpo de texto
    text-align: justify;
  }

  @include media-max($breackpoint1024) {
    .container-center {
      margin-top: 1.875rem;
    }
    main {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      article {
        display: flex;
        flex-direction: column;

        .details {
          position: absolute;
          max-width: none;
        }
      }

      .container-open {
        border-bottom: 3px solid $primary;
        border-left: 0px;
        .details {
          top: 6.875rem;
          left: 20px;
          right: 20px;
        }
      }
    }
  }
  @include media-max($breackpoint768) {
    height: 39rem;
    .title-section {
      margin-bottom: 0.625rem;
    }
    .container-center {
      main {
        article {
          .details {
            top: 6rem;
            header {
              margin-bottom: 0.625rem;
            }
            .company {
              margin-bottom: 0.625rem;
            }
            .description {
              font-size: 1rem;
              margin-bottom: 0.87rem;
            }
            .assignments {
              margin-bottom: 0.375rem;
            }
            .description-assignments {
              font-size: 0.87rem;
            }
          }
        }
      }
    }
  }
  @include media-max(530px) {
    .title-section {
      margin-bottom: 0.625rem;
    }
    .container-center {
      main {
        article {
          button {
            width: 30vw;
            font-size: $fz-14;
          }

          .details {
            top: 6rem;
            header {
              h3 {
                font-size: $fz-18;
              }
              p {
                font-size: $fz-16;
              }
            }
            .description {
              font-size: $fz-16;
            }
            .description-assignments {
              font-size: $fz-14;
            }
          }
        }

        .container-open {
          .details {
            height: 388px;
            overflow-y: auto;
            @include scrollbar(5px, 2px, #d1d5db, #f3f4f6);

            header,
            p,
            h3 {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
