@import "src/sass/variables.scss";
@import "src/sass/mixins.scss";

// :focus {
//   outline: none;
//   box-shadow: 0 0 0 2px $dark;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

body {
  background-color: $dark;
  color: $gray-light;
  -webkit-font-smoothing: antialiased;

  @include scrollbar(10px, 2px, #000, #2c2c2c);
}

body,
input,
textarea,
button {
  font-family: $primaryFont;
  font-weight: 300;
  font-size: 1rem;
}

button,
link,
input {
  cursor: pointer;
}

// @media screen and (max-width: 768px) {
//   html {
//     font-size: 0.87rem;
//   }
// }
