@import "src/sass/variables.scss";
@import "src/sass/mixins.scss";

.header-desktop {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90px;
  width: 100%;
  z-index: 1;

  background-color: $light;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid $border;

  .container-center {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: $max-width-container-center;
    width: 100%;
  }

  .menu-hamburguer {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    max-height: 0;
    max-width: 0;
  }

  .button {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 500;
    font-size: $fz-24;
    line-height: 29px;
    color: $primary;

    border: none;
    background: transparent;

    @include shiny-button(
      $width: 60px,
      $alpha: 0.4,
      $transition: 500ms,
      $disable: false
    );
  }

  .header-content,
  .header-content--open {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 62px;

    button {
      display: flex;
      flex-direction: column;
      position: relative;

      font-style: normal;
      font-weight: 500;
      font-size: $fz-18;
      line-height: 22px;
      text-decoration: none;
      color: $text-body; // Bom contraste para navegação
      background-color: transparent;
      border: none;
      font-weight: 500; // Peso médio para destaque em navegação

      transition: all 0.3s ease;

      &:hover {
        color: $primary;
        &::after {
          content: "";
          position: absolute;
          bottom: -3px;
          border: 1px solid $primary;
          width: 100%;
        }
      }
    }
  }

  @include media-max($breackpoint1024) {
    width: 100%;
    position: relative;

    .menu-hamburguer {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      max-height: none;
      max-width: none;

      background: transparent;
      border: none;
    }

    .header-content {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      max-height: 0;
      max-width: 0;
      position: absolute;

      // transition: all 0.1s;

      &--open {
        flex-direction: column;
        z-index: 1;

        position: absolute;
        top: 115px;
        left: 0;
        right: 0;
        background: $light;
        border-top: 1px solid $border;
        height: 50vh;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

        // transition: all 0.1s;
      }
    }
  }
}
