@import "../../sass/variables";

.footer {
  height: 6.25rem;
  width: 100%;
  background-color: $light;
  border-top: 1px solid $border;
  color: $text-secondary;

  .container-center {
    max-width: $max-width-container-center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
